# Temporary files and editor backups
*.swp
__pycache__/
from/
import/
trl/
.vscode/
.venv/
csv_logs/
csv_logs_prev/
models/
train.sh
config.py
DistillKit/
distillkit_runs/
tasks-list.txt
datasets/
csv_files/
teacher_logits/
teacher_logits2/
results.csv
wandb/