# Temporary files and editor backups
*.swp
__pycache__/
from/
import/
trl/
.vscode/
.venv/
csv_logs/
csv_logs_prev/
models/
train.sh
DistillKit/
distillkit_runs/
tasks-list.txt
datasets/
csv_files/
teacher_logits/
teacher_logits2/
results.csv
wandb/
notes.txt
src/og_config.py
CSV_metrics.csv
SLM-plotting.py
check_vocab_sizes.ipynb
compare_dataset_sizes.ipynb
src/my_config2.py 
configs/*
scripts/*
