import os
import datasets
import torch
from datetime import datetime
import glob

# Model and dataset setup
seed = 42
teacher_model_name = "Qwen/Qwen2.5-7B-Instruct"
student_model_name = "Qwen/Qwen2.5-0.5B-Instruct"
tokenizer_name = "Qwen/Qwen2.5-0.5B-Instruct"
dataset_name = "allenai/tulu-3-sft-mixture"
dataset_type = "full"  # "single" or "batch" or "full"
teacher_device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
student_device = torch.device("cuda:1" if torch.cuda.is_available() else "cpu")

data_curation = False
dataset_path = "/your_directory/slm_ensembles/tulu-3-sft-mixture-pretokenized"
synthetic_dataset_path = "/your_directory/slm_ensembles/synthetic_dataset"
base_output_dir = "/projects/distilling_llms/model_log"
log_dir = "/your_directory/slm_ensembles/csv_logs"

id_string = "Experiment with hyperparameters to check if distillation works"
description = "Alpha tweaking: alpha = 0.8"
custom_run_name = "alpha08_hyperparameters"

ensemble_model_names = []
ensemble_members = []  # Full path of ensemble models which we want to load
checkpoint_path = None  # Full path of the model checkpoint from which we want to resume training (else None)
checkpoint_log_path = None  # exact path of the csv file corresponding to the checkpointed model (else None)


# Hyperparameters
learning_rate = 5e-5
alpha = 0.5  # 1 = next_token loss to 0 = kl_loss
total_rounds = 1  # number of ensemble models
steps_per_round = 5000
eval_steps = 40
logging_steps = 40
kl_temperature = 1.0
eval_batch_size = 4
gradient_accumulation_steps = 8


# Logging Arguments
CSV_COLUMNS = [
    "function",
    "timestamp",
    "overall_elapsed",
    "round_duration",
    "round_num",
    "phase",
    "role",
    "step",
    "train_loss",
    "train_kl_loss",
    "train_next_token_loss",
    "eval_loss",
    "eval_kl_loss",
    "grad_norm",
    "perplexity",
    "learning_rate",
    "alpha",
    "tags",
    "metadata",
]


def get_dataset():
    if not data_curation:
        dataset = datasets.load_from_disk(dataset_path)
    else:
        dataset = datasets.load_from_disk(synthetic_dataset_path)
    if dataset_type == "single":
        return {
            "train": dataset["train"].select([0]),
            "test": dataset["test"].select([0]),
        }
    elif dataset_type == "batch":
        return {
            "train": dataset["train"].select(range(10)),
            "test": dataset["test"].select(range(10)),
        }
    return dataset


def get_directory(output_dir):
    current_date = datetime.now().strftime("%d-%m-%Y")
    date_dir = os.path.join(output_dir, current_date)

    if output_dir == log_dir:
        return date_dir

    existing_runs = []
    if os.path.exists(date_dir):
        run_dirs = glob.glob(os.path.join(date_dir, "run_*"))

        for dir_path in run_dirs:
            try:
                run_num = int(os.path.basename(dir_path).split("_")[1])
                existing_runs.append(run_num)
            except (ValueError, IndexError):
                continue

    next_run = 1
    if existing_runs:
        next_run = max(existing_runs) + 1

    if custom_run_name is not None:
        run_dir = os.path.join(date_dir, f"run_{next_run}_{custom_run_name}")
    else:
        run_dir = os.path.join(date_dir, f"run_{next_run}")

    os.makedirs(run_dir, exist_ok=True)
    return run_dir


def get_training_args(output_dir):
    from trl import SFTConfig

    return SFTConfig(
        output_dir=output_dir,
        overwrite_output_dir=False,
        report_to="none",
        hub_model_id=None,
        learning_rate=learning_rate,
        lr_scheduler_type="constant",
        warmup_steps=50,
        per_device_train_batch_size=4,
        per_device_eval_batch_size=eval_batch_size,
        gradient_accumulation_steps=gradient_accumulation_steps,
        gradient_checkpointing=False,
        bf16=True,
        max_steps=steps_per_round,
        eval_strategy="steps",
        eval_steps=eval_steps,
        eval_on_start=False,
        logging_strategy="steps",
        logging_steps=logging_steps,
        save_strategy="no",
    )
