accelerate==1.6.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.4
aiosignal==1.3.2
annotated_types==0.7.0
anyio==4.9.0
appdirs==1.4.4
asttokens==3.0.0
attrs==25.3.0
backoff==2.2.1
certifi==2025.6.15
charset_normalizer==3.4.2
click==8.2.1
comm==0.2.2
contourpy==1.3.1
cycler==0.12.1
datasets==3.6.0
debugpy==1.8.12
decorator==5.1.1
deepspeed==0.16.4
dill==0.3.8
diskcache==5.6.3
docker-pycreds==0.4.0
einops==0.8.1
emoji==2.14.1
executing==2.2.0
filelock==3.18.0
flash_attn==2.7.4.post1
fonttools==4.55.8
frozenlist==1.7.0
fsspec==2025.3.0
gitdb==4.0.12
GitPython==3.1.44
gql==3.5.3
graphql-core==3.2.6
hf_transfer==0.1.9
hf_xet==1.1.3
hjson==3.1.0
huggingface-hub==0.33.1
idna==3.10
ipykernel==6.29.5
ipython==8.32.0
ipywidgets==8.1.5
jedi==0.19.2
jinja2==3.1.6
jsonschema==4.24.0
jsonschema_specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
markdown_it_py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.0
matplotlib_inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.5.1
multiprocess==0.70.16
nest_asyncio==1.6.0
networkx==3.5
ninja==1.11.1
nose==1.3.7
numpy==2.2.2
packaging==25.0
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
platformdirs==3.10.0
prompt_toolkit==3.0.50
propcache==0.3.2
protobuf==4.25.8
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
py_cpuinfo==9.0.0
pyarrow
pydantic==2.11.7
pydantic_core==2.33.2
pygments==2.19.1
pyparsing==3.2.1
python_dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests_toolbelt==1.0.0
rich==14.0.0
rpds_py==0.21.0
safetensors==0.5.3
scipy==1.15.1
sentry-sdk==2.31.0
setproctitle==1.3.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
stack_data==0.6.3
sympy==1.13.1
tenacity==9.1.2
tokenizers==0.21.1
torch==2.6.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.3
triton==3.3.1
trl==0.19.0
typing_extensions==4.14.0
typing_inspection==0.4.1
tzdata==2025.2
urllib3==2.5.0
wandb==0.18.0
wandb-core==0.17.0b11
wcwidth==0.2.13
weave==0.51.54
widgetsnbextension==4.0.13
xxhash==3.5.0
yarl==1.20.1
